/* ==================================================================
            Šildymas | Vėdinimas | Kondicionavimas
================================================================== */

.btn-kondicionavimas,.btn-sildymas,.btn-vedinimas,.btn-inzineriniai, .btn-danger {
    font-size: 16px;
    line-height: 2;
    border-radius: 20px/40px;
}

.btn-sildymas {
    background-color: #f0ad4e;
    color: #fff;
    border: 1px solid;
}

.btn-sildymas:hover {
    text-decoration: none;
    border: 1px solid #f0ad4e;
    background-color: transparent;
    color: #f0ad4e;
}
.btn-sildymas:focus {
    text-decoration: none;
    border: 1px solid #f0ad4e;
    background-color: transparent;
    color: #f0ad4e;
}

.btn-vedinimas {
    background-color: #85c78d;
    color: #fff;
    border: 1px solid;
}

.btn-vedinimas:hover {
    text-decoration: none;
    border: 1px solid #85c78d;
    background-color: transparent;
    color: #85c78d;
}
.btn-vedinimas:focus {
    text-decoration: none;
    border: 1px solid #85c78d;
    background-color: transparent;
    color: #85c78d;
}

.btn-kondicionavimas {
    background-color: rgba(40,115,185,0.7);
    color: #fff;
    border: 1px solid;
}

.btn-kondicionavimas:hover {
    text-decoration: none;
    border: 1px solid #2873b9;
    background-color: transparent;
    color: #2873b9;
}
.btn-kondicionavimas:focus {
    text-decoration: none;
    border: 1px solid #2873b9;
    background-color: transparent;
    color: #2873b9;
}
.btn-inzineriniai {
    background-color: #777;
    color: #fff;
    border: 1px solid;
}

.btn-inzineriniai:hover {
    text-decoration: none;
    border: 1px solid #5a5a5a;
    background-color: transparent;
    color: #5a5a5a;
}
.btn-inzineriniai:focus {
    text-decoration: none;
    border: 1px solid #5a5a5a;
    background-color: transparent;
    color: #5a5a5a;
}

.btn-sistemos {
    font-size: 16px;
    line-height: 2;
    border-radius: 20px/40px;
}

.btn-sistemos {
    background-color: #e8e8e8;
    color: #444;
    border: 1px solid #e8e8e8;
}

.btn-sistemos:hover {
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #444;
}

.btn-block {
    display: block;
    width: 80%;
}

/* ========================================================
Mygtukai
======================================================== */

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;

}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
  background-image: none;
}
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #8b211e;
}
.btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger:disabled:focus, .btn-danger:disabled.focus {
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger.disabled:hover, .btn-danger:disabled:hover {
  background-color: #d9534f;
  border-color: #d9534f;
}

/* ========================================================
Mygtukai
======================================================== */



.txt-specialistai {
    font-family: helvetica;
    font-weight: 300;
    color: #666;
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
}

.col-svk {
    padding: 15px 0;
}

.bdr-sildymas {
    border: 1px solid #f0ad4e !important;
}
.bdr-vedinimas {
    border: 1px solid #85c78d !important;
}
.bdr-kondicionavimas {
    border: 1px solid #689cce !important;
}
.bdr-inzineriniai {
    border: 1px solid #999 !important;
}
.bdr-sildymas:hover {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    border-color: transparent !important;
}
.bdr-vedinimas:hover {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    border-color: transparent !important;
}
.bdr-kondicionavimas:hover {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    border-color: transparent !important;
}
.bdr-inzineriniai:hover {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    border-color: transparent !important;
}


body {
    font-weight: 200;
    font-size: 14px;
    font-family: Verdana !important;}

b, strong {
    font-weight: 500;
}

p {
    margin: 5px 0 !important;
}

.center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
  
  
.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
}

/* ==================================================================
            Šildymas | Vėdinimas | Kondicionavimas
================================================================== */


@media (min-width: 768px) {
    .btn-kondicionavimas,.btn-sildymas,.btn-vedinimas,.btn-inzineriniai {
    margin-left: auto !important;
    margin-right: auto !important;
    }

    .col-md-4-con2 {
    border-left: 1px dashed #ccc !important; 
    border-right: 1px dashed #ccc !important;
    padding-bottom: 20px;
    }

/*    .col-md-4 {
    width: 100% !important;
    float: none !important;
    }

    .img-sistemos {
      height: 250px !important;
      padding: 0.25rem;
      line-height: 1.5;
      background-color: #fff;
      border-radius: 10px 1px;
      transition: all .2s ease-in-out;
      display: inline-block;
      
    }

    .btn-block {
      width: 33.33333%
    }
*/
    .rekvizitai {
    font-size: 11px;
    line-height: 2.08;
    font-family: Verdana,"PT Sans",Helvetica;
    color: #999;
    text-align: right;
    }
}

@media (max-width: 767px) {
    .col-md-4-con2 {
      border-top: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
       border-left: 1px dashed transparent !important; 
      border-right: 1px dashed transparent !important;
      margin-top: 20px;
      padding-bottom: 20px;
    }

    .btn-kondicionavimas,.btn-sildymas,.btn-vedinimas,.btn-inzineriniai, .btn-danger {
      display: block !important;
      width: 80%;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .img-sistemos {
      height: auto !important;
    }

    .col-md-3 {
      text-align: center;
    }

    .h1-sistemos {
      text-align: center;
    }

    .rekvizitai {
      font-size: 11px;
      line-height: 2.08;
      font-family: Verdana,"PT Sans",Helvetica;
      color: #999;
      text-align: center;
    }

    .hr-footer {
      height: 0;
      border: 0;
      border-top: 1px solid #eeb237;
      max-width: 10%;
    }

    .btn-footer {
      background-color: #494949;
      border: 1px solid #777;
      font-size: 14px;
      line-height: 2;
      border-radius: 20px/40px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .btn-footer:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      background-color: #595959;
    }

    .footer a {
      color: #9d9d9d !important;
    } 

    .input-group {
      position: relative;
      display: block;
      max-width: 98%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }

    #logo {
    margin: 0 33.33333% !important;
    }

    .search {
    padding: 0 0 15px 0;
    margin-bottom: 65px !important;
    }

}


.navbar-toggle {
    margin-right: 0;
}

#logo {
    margin: 0 4px;
}

.navbar-default {
/*    position: fixed !important;*/
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    background-color: #fff !important;
}

.col-md-4-con2 {
    border-left: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
}

.img-shadow {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    border-color: transparent;
}

/* ================================================
                      IMG
================================================= */

.img-fluid, .carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 10px 1px;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-y-3 {
  padding-top: 3rem !important;
/*  padding-bottom: 3rem !important;*/
}

/* ================================================
                      TEKSTAS
================================================= */

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-xs-left {
  text-align: left !important;
}

.text-xs-right {
  text-align: right !important;
}

.text-xs-center {
  text-align: center !important;
}

@media (min-width: 544px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }



}
@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}
/*
/* ================================================
                      GRID
================================================= */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.container-fluid::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}*/

@media (min-width: 544px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

/*  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
*/}
@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /*.col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
*/}
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /*.col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
*/}
@media (min-width: 1200px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }

  /*.col-xl-1 {
    width: 8.33333%;
  }

  .col-xl-2 {
    width: 16.66667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333%;
  }

  .col-xl-5 {
    width: 41.66667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333%;
  }

  .col-xl-8 {
    width: 66.66667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333%;
  }

  .col-xl-11 {
    width: 91.66667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-pull-0 {
    right: auto;
  }

  .col-xl-pull-1 {
    right: 8.33333%;
  }

  .col-xl-pull-2 {
    right: 16.66667%;
  }

  .col-xl-pull-3 {
    right: 25%;
  }

  .col-xl-pull-4 {
    right: 33.33333%;
  }

  .col-xl-pull-5 {
    right: 41.66667%;
  }

  .col-xl-pull-6 {
    right: 50%;
  }

  .col-xl-pull-7 {
    right: 58.33333%;
  }

  .col-xl-pull-8 {
    right: 66.66667%;
  }

  .col-xl-pull-9 {
    right: 75%;
  }

  .col-xl-pull-10 {
    right: 83.33333%;
  }

  .col-xl-pull-11 {
    right: 91.66667%;
  }

  .col-xl-pull-12 {
    right: 100%;
  }

  .col-xl-push-0 {
    left: auto;
  }

  .col-xl-push-1 {
    left: 8.33333%;
  }

  .col-xl-push-2 {
    left: 16.66667%;
  }

  .col-xl-push-3 {
    left: 25%;
  }

  .col-xl-push-4 {
    left: 33.33333%;
  }

  .col-xl-push-5 {
    left: 41.66667%;
  }

  .col-xl-push-6 {
    left: 50%;
  }

  .col-xl-push-7 {
    left: 58.33333%;
  }

  .col-xl-push-8 {
    left: 66.66667%;
  }

  .col-xl-push-9 {
    left: 75%;
  }

  .col-xl-push-10 {
    left: 83.33333%;
  }

  .col-xl-push-11 {
    left: 91.66667%;
  }

  .col-xl-push-12 {
    left: 100%;
  }

  .col-xl-offset-0 {
    margin-left: 0%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
*/}

/* ================================================
                      GRID end
================================================= */


.text-muted-footer {
  color: #e4e4e4;
}

.footer a {
  color: #f9f9f9 !important;
}

.fullwidth-footer {
    padding: 20px;
    font-weight: 200;
    font-family: "PT Sans";
    text-transform: none;
    font-size: 13px;
    background-color: #f9f9f9;
    color: #404041;
}



=======================================================

 h1, a {
    font-family: Verdana;
    font-size: 1.6rem;
    color: #656465;
    padding-left: .5rem;
    margin: 0;
}

ul li a:hover {
    color: #f78221;
    //padding-left: 1rem;
    transition: all 0.2s;
}

ul li a:before {
    //content: '→  ';
    font-size: 1.5rem;
}

.category a {
    color: inherit;
}

.catalog-h1 {
    border-radius: .5rem .1rem;
    background-color: #79a71d;
    padding: .5rem .7rem;
    font-family: Verdana;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1;
    color: #ffffff;
    margin-top: 0.2rem;
}

.catalog-h1:hover {
    color: rgb(240, 240, 240);
    background-color: rgb(105, 144, 27);
}

.img-cat {
    width: 15rem;
    float: left;
    margin: 2rem .5rem .5rem .5rem;
   
}

.catalog-subcategory ul>li>a{
    width: 100%;
    float: right;
    font-size: 1.3rem;
    color: #656465;
    //list-style-type: none !important;
    //position: relative;
}

.cat {
    padding: .5rem;
    border: .1rem dashed #e3e3e3;
    border-radius: .5rem .1rem;
}

.cat:hover {
    padding: .5rem;
    border: .1rem solid #f78221;
    border-radius: .5rem .1rem;
}

.col-sm-12.col-md-6.col-lg-4 {
    //padding: 1rem !important;
}

ul, li {list-style-type: none;}

//li {padding-left: 2em; text-indent: -2em;}

.subcategory {
    //margin-left: -1rem;
}

.cat.flex.category {
    margin-bottom: 2rem;
}

a.subs > ul li:before {
    font-size: 1.2rem;
    margin-left: -3rem;
}
